*.log
.envrc
.fedtpd.*
.git/
.github/
assets/
cmd/
!cmd/telnetd/issue
data/
!data/person.d
init/s6/*/event/
init/s6/*/supervise/
init/s6/.s6-svscan/
internal/
!internal/fed/lib/
!internal/ibgames/lib/
scripts/
!scripts/init-ibgames-db.sh
tools/
