*.coverprofile
*.dll
*.dylib
*.exe
*.exe~
*.local.json
*.log
*.out
*.passwords
*.sarif
*.so
*.test
.DS_Store
.envrc
.fedtpd.*
.golangci.bck.yaml
.idea/
.vscode/
backup/
bin/
coverage.*
data-*.tar.bz2
go.work
go.work.sum
lock/
log/
profile.cov
run/
